<li class="flexcol item collapsible collapsed"
    data-uuid="{{item.uuid}}"
    data-item-id="{{item.id}}"
    data-entry-id="{{item.id}}"
    data-item-name="{{item.name}}">
    <div class="flexrow align-normal gap-small{{#if draggable }} draggable{{/if }}"
         {{#if draggable }}
         draggable="true"
         {{/if }}
         data-key="{{item.id }}">
        <img class="item-image flex0"
             src="{{item.img}}"
             alt="{{item.name}}"
             width="32"
             height="32"
             draggable="false" />
        <div class="flexcol flex1 gap-min">
            <div class="flexrow gap-small">
                <div class="flex1 item-name">{{item.name}}</div>
                <div class="flex0 item-detail item-controls">
                    {{#if (eq item.type "weapon") }}
                        <button type="button"
                                class="unbutton config-button item-control item-action always-interactive"
                                data-tooltip="ATDW.Item.Sheet.equipTooltip"
                                data-key="{{item.id}}"
                                data-action="equipWeapon">
                            <i class="fas fa-shield-halved"></i>
                        </button>
                    {{/if}}
                    {{#if (eq item.type "armor") }}
                        <button type="button"
                                class="unbutton config-button item-control item-action always-interactive"
                                data-tooltip="ATDW.Item.Sheet.equipTooltip"
                                data-key="{{item.id}}"
                                data-action="equipArmor">
                            <i class="fas fa-shield-halved"></i>
                        </button>
                    {{/if}}
                    <button type="button"
                            class="unbutton config-button item-control item-action always-interactive"
                            data-tooltip="ATDW.Item.Sheet.toggleTooltip"
                            data-action="toggleExpand">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button"
                            class="unbutton config-button item-control item-action always-interactive"
                            data-tooltip="ATDW.Item.Sheet.editTooltip"
                            data-key="{{item.id}}"
                            data-action="editItem">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button"
                            class="unbutton config-button item-control item-action always-interactive"
                            data-tooltip="ATDW.Item.Sheet.deleteTooltip"
                            data-key="{{item.id}}"
                            data-action="removeItem">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="item-details">
                <div class="item-detail item-price">{{localize "ATDW.Item.Sheet.label.price"}}: {{item.system.price}}</div>
                {{#if showGS }}
                    <div class="item-detail item-weight empty">{{localize "ATDW.Item.Sheet.label.gearSlots"}}: {{slots}}</div>
                {{/if}}
                {{#if (and showQuantity (eq item.system.isLight true)) }}
                    <div class="item-detail item-quantity">
                        {{localize "ATDW.Item.Sheet.label.quantity"}}:
                        <a class="adjustment-button always-interactive"
                           data-action="decreaseQuantityItem"
                           data-tooltip="ATDW.Item.Sheet.decreaseTooltip"
                           data-key="{{item.id}}">
                            <i class="fas fa-minus"></i>
                        </a>
                        {{item.system.quantity}}
                        <a class="adjustment-button always-interactive"
                           data-action="increaseQuantityItem"
                           data-tooltip="ATDW.Item.Sheet.increaseTooltip"
                           data-key="{{item.id}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="item-description collapsible-content">
        {{#if (eq item.type "armor") }}
            <div class="item-details">
                <div class="item-detail item-armor">{{localize "ATDW.Item.Sheet.label.armor"}}: {{item.system.armor}}</div>
                {{#if item.system.isFullBody }}
                    <div class="item-detail item-two-handed">{{localize "ATDW.Item.Sheet.label.isFullBody"}}</div>
                {{else}}
                    <div class="flexrow gap-min">
                        {{localize "ATDW.Item.Sheet.bodySlots.title"}}:
                        <div class="weapon-traits">
                            {{#if item.system.body.head }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.head"}}</span>
                            {{/if}}
                            {{#if item.system.body.back }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.back"}}</span>
                            {{/if}}
                            {{#if item.system.body.torso }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.torso"}}</span>
                            {{/if}}
                            {{#if item.system.body.arms }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.arms"}}</span>
                            {{/if}}
                            {{#if item.system.body.hands }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.hands"}}</span>
                            {{/if}}
                            {{#if item.system.body.waist }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.waist"}}</span>
                            {{/if}}
                            {{#if item.system.body.legs }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.legs"}}</span>
                            {{/if}}
                            {{#if item.system.body.feet }}
                                <span>{{localize "ATDW.Item.Sheet.bodySlots.feet"}}</span>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/if}}
        {{#if (eq item.type "weapon") }}
            <div class="item-details">
                <div class="item-detail item-speed">
                    {{localize "ATDW.Item.Sheet.label.range"}}:
                    {{#if item.system.isMelee }}
                        {{localize "ATDW.Item.Sheet.label.isMelee"}}
                    {{else}}
                        {{item.system.range}}
                    {{/if}}
                </div>
                {{#if item.system.isTwoHanded }}
                    <div class="item-detail item-two-handed">{{localize "ATDW.Item.Sheet.label.twoHanded"}}</div>
                {{/if}}
                <div class="item-detail item-damage">{{localize "ATDW.Item.Sheet.label.damage"}}: {{item.system.damage}}</div>
                <div class="flexrow gap-min">
                    {{localize "ATDW.Item.Sheet.traits.title"}}:
                    <div class="weapon-traits">
                        {{#if item.system.traits.armorPiercing }}
                            <span>{{localize "ATDW.Item.Sheet.traits.armorPiercing"}}</span>
                        {{/if}}
                        {{#if item.system.traits.blast.active }}
                            <span>{{localize "ATDW.Item.Sheet.traits.blast"}} ({{item.system.traits.blast.value}})</span>
                        {{/if}}
                        {{#if item.system.traits.burst }}
                            <span>{{localize "ATDW.Item.Sheet.traits.burst"}}</span>
                        {{/if}}
                        {{#if item.system.traits.explosive.active }}
                            <span>{{localize "ATDW.Item.Sheet.traits.explosive"}} ({{item.system.traits.explosive.value}})</span>
                        {{/if}}
                        {{#if item.system.traits.forceful }}
                            <span>{{localize "ATDW.Item.Sheet.traits.forceful"}}</span>
                        {{/if}}
                        {{#if item.system.traits.fullAuto }}
                            <span>{{localize "ATDW.Item.Sheet.traits.fullAuto"}}</span>
                        {{/if}}
                        {{#if item.system.traits.gas }}
                            <span>{{localize "ATDW.Item.Sheet.traits.gas"}}</span>
                        {{/if}}
                        {{#if item.system.traits.incendiary }}
                            <span>{{localize "ATDW.Item.Sheet.traits.incendiary"}}</span>
                        {{/if}}
                        {{#if item.system.traits.light }}
                            <span>{{localize "ATDW.Item.Sheet.traits.light"}}</span>
                        {{/if}}
                        {{#if item.system.traits.powerful }}
                            <span>{{localize "ATDW.Item.Sheet.traits.powerful"}}</span>
                        {{/if}}
                        {{#if item.system.traits.punishing.active }}
                            <span>{{localize "ATDW.Item.Sheet.traits.punishing"}} ({{item.system.traits.punishing.value}})</span>
                        {{/if}}
                        {{#if item.system.traits.quick }}
                            <span>{{localize "ATDW.Item.Sheet.traits.quick"}}</span>
                        {{/if}}
                        {{#if item.system.traits.recoil }}
                            <span>{{localize "ATDW.Item.Sheet.traits.recoil"}}</span>
                        {{/if}}
                        {{#if item.system.traits.row.active }}
                            <span>{{localize "ATDW.Item.Sheet.traits.row"}} ({{item.system.traits.row.value}})</span>
                        {{/if}}
                        {{#if item.system.traits.slow }}
                            <span>{{localize "ATDW.Item.Sheet.traits.slow"}}</span>
                        {{/if}}
                        {{#if item.system.traits.unwieldy }}
                            <span>{{localize "ATDW.Item.Sheet.traits.unwieldy"}}</span>
                        {{/if}}
                        {{#if item.system.traits.volatile }}
                            <span>{{localize "ATDW.Item.Sheet.traits.volatile"}}</span>
                        {{/if}}
                        {{#if item.system.traits.wellCrafted }}
                            <span>{{localize "ATDW.Item.Sheet.traits.wellCrafted"}}</span>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}
        <div class="item-details">
            <div class="item-detail item-availability">
                {{localize "ATDW.Item.Sheet.label.availability"}}: {{localize (concat "ATDW.Item.Sheet.availability." item.system.availability)}}
            </div>
        </div>
        <span class="wrapper">
            <div class="subtitle">{{localize "ATDW.Item.Sheet.label.description"}}</div>
        {{editor item.system.description engine="prosemirror"}}</span>
        <div class="wrapper">
            <div class="subtitle">{{localize "ATDW.Item.Sheet.label.notes"}}</div>
            {{editor item.system.notes engine="prosemirror"}}
        </div>
    </div>
</li>
