<header class="sheet-header">
    <div class="header-fields">
        <div class="header-top flexrow gap align-normal">
            <img class="profile-img flex0"
                 alt="portrait image"
                 src="{{document.img}}"
                 data-action="editImage"
                 data-edit="img"
                 data-tooltip="{{document.name}}"
                 height="150"
                 width="150" />
            <div class="flex3">
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="atdw.deepDiver.name">{{localize 'ATDW.DeepDiver.Sheet.name' }}</label>
                    </div>
                    <input name="name"
                           type="text"
                           value="{{document.name}}"
                           class="flex3"
                           autocomplete="off"
                           id="atdw.deepDiver.name" />
                </h5>
                <h5 class="flexrow gap-large">
                    <div class="flexrow">
                        <div class="flex0">
                            <label class="left-label" for="atdw.deepDiver.system.gender">{{localize 'ATDW.DeepDiver.Sheet.gender' }}</label>
                        </div>
                        <input name="system.gender"
                               type="text"
                               value="{{document.system.gender}}"
                               class="flex3"
                               autocomplete="off"
                               id="atdw.deepDiver.system.gender" />
                    </div>
                    <div class="flex0">
                        <div class="flexrow xp-section">
                            <div class="flex0">
                                <label class="left-label" for="atdw.deepDiver.system.age">{{localize 'ATDW.DeepDiver.Sheet.age' }}</label>
                            </div>
                            <input name="system.age"
                                   type="number"
                                   data-dtype="Number"
                                   min="0"
                                   step="1"
                                   max="1000"
                                   value="{{document.system.age}}"
                                   class="flex0 xp-input"
                                   id="atdw.deepDiver.system.age" />
                        </div>
                    </div>
                </h5>
            </div>
        </div>
    </div>
</header>
