<div class="tab details scrollable {{tabs.details.cssClass}}"
     data-group="primary"
     data-tab="details">
    <div class="flexcol gap align-normal">
        <div class="flexrow gap align-normal">
            <div class="flexcol gap-small">
                <div class="flexrow gap-min">
                    <div class="flexcol gap-min">
                        <div class="rollable" data-action="rollAttribute" data-key="strength">
                            {{localize "ATDW.DeepDiver.Sheet.primaryAttributes.str"}}
                            <i class="fas fa-dice" data-key="strength"></i>
                        </div>
                        <input type="number"
                               name="system.primaryAttributes.strength.value"
                               id="system.primaryAttributes.strength.value"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.valueTooltip"
                               class="flex0"
                               min="0"
                               max="18"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.strength.value}}" />
                        <input type="number"
                               name="system.primaryAttributes.strength.temporaryModifier"
                               id="system.primaryAttributes.strength.temporaryModifier"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.temporaryModifierTooltip"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.strength.temporaryModifier}}" />
                    </div>
                    <div class="flexcol gap-min">
                        <div class="rollable" data-action="rollAttribute" data-key="dexterity">
                            {{localize "ATDW.DeepDiver.Sheet.primaryAttributes.dex"}}
                            <i class="fas fa-dice" data-key="dexterity"></i>
                        </div>
                        <input type="number"
                               name="system.primaryAttributes.dexterity.value"
                               id="system.primaryAttributes.dexterity.value"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.valueTooltip"
                               class="flex0"
                               min="0"
                               max="18"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.dexterity.value}}" />
                        <input type="number"
                               name="system.primaryAttributes.dexterity.temporaryModifier"
                               id="system.primaryAttributes.dexterity.temporaryModifier"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.temporaryModifierTooltip"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.dexterity.temporaryModifier}}" />
                    </div>
                    <div class="flexcol gap-min">
                        <div class="rollable" data-action="rollAttribute" data-key="constitution">
                            {{localize "ATDW.DeepDiver.Sheet.primaryAttributes.con"}}
                            <i class="fas fa-dice" data-key="constitution"></i>
                        </div>
                        <input type="number"
                               name="system.primaryAttributes.constitution.value"
                               id="system.primaryAttributes.constitution.value"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.valueTooltip"
                               class="flex0"
                               min="0"
                               max="18"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.constitution.value}}" />
                        <input type="number"
                               name="system.primaryAttributes.constitution.temporaryModifier"
                               id="system.primaryAttributes.constitution.temporaryModifier"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.temporaryModifierTooltip"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.constitution.temporaryModifier}}" />
                    </div>
                    <div class="flexcol gap-min">
                        <div class="rollable" data-action="rollAttribute" data-key="will">
                            {{localize "ATDW.DeepDiver.Sheet.primaryAttributes.wil"}}
                            <i class="fas fa-dice" data-key="will"></i>
                        </div>
                        <input type="number"
                               name="system.primaryAttributes.will.value"
                               id="system.primaryAttributes.will.value"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.valueTooltip"
                               class="flex0"
                               min="0"
                               max="18"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.will.value}}" />
                        <input type="number"
                               name="system.primaryAttributes.will.temporaryModifier"
                               id="system.primaryAttributes.will.temporaryModifier"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.temporaryModifierTooltip"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.will.temporaryModifier}}" />
                    </div>
                    <div class="flexcol gap-min">
                        <div class="rollable" data-action="rollAttribute" data-key="intelligence">
                            {{localize "ATDW.DeepDiver.Sheet.primaryAttributes.int"}}
                            <i class="fas fa-dice" data-key="intelligence"></i>
                        </div>
                        <input type="number"
                               name="system.primaryAttributes.intelligence.value"
                               id="system.primaryAttributes.intelligence.value"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.valueTooltip"
                               class="flex0"
                               min="0"
                               max="18"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.intelligence.value}}" />
                        <input type="number"
                               name="system.primaryAttributes.intelligence.temporaryModifier"
                               id="system.primaryAttributes.intelligence.temporaryModifier"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.temporaryModifierTooltip"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.intelligence.temporaryModifier}}" />
                    </div>
                    <div class="flexcol gap-min">
                        <div class="rollable" data-action="rollAttribute" data-key="charisma">
                            {{localize "ATDW.DeepDiver.Sheet.primaryAttributes.cha"}}
                            <i class="fas fa-dice" data-key="charisma"></i>
                        </div>
                        <input type="number"
                               name="system.primaryAttributes.charisma.value"
                               id="system.primaryAttributes.charisma.value"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.valueTooltip"
                               class="flex0"
                               min="0"
                               max="18"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.charisma.value}}" />
                        <input type="number"
                               name="system.primaryAttributes.charisma.temporaryModifier"
                               id="system.primaryAttributes.charisma.temporaryModifier"
                               data-tooltip="ATDW.DeepDiver.Sheet.primaryAttributes.temporaryModifierTooltip"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.primaryAttributes.charisma.temporaryModifier}}" />
                    </div>
                </div>
                <div class="flexcol gap-min">
                    <div class="flexrow">
                        <div class="flex1">
                            <label class="left-label" for="system.movement">{{localize 'ATDW.Creature.Sheet.movement' }}</label>
                        </div>
                        <input type="number"
                               name="system.movement"
                               id="system.movement"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.movement}}" />
                    </div>
                    <div class="flexrow">
                        <div class="flex1">
                            <label class="left-label" for="system.armor">{{localize 'ATDW.Creature.Sheet.armor' }}</label>
                        </div>
                        <input type="number"
                               name="system.armor"
                               id="system.armor"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.armor}}" />
                    </div>
                    <div class="flexrow">
                        <div class="flex1">
                            <label class="left-label" for="system.defense">{{localize 'ATDW.Creature.Sheet.defense' }}</label>
                        </div>
                        <input type="number"
                               name="system.defense"
                               id="system.defense"
                               class="flex0"
                               step="1"
                               data-dtype="Number"
                               value="{{document.system.defense}}" />
                    </div>
                    <div class="flexrow gap-min">
                        <div>{{localize "ATDW.Creature.Sheet.wounds"}}</div>
                        <input type="number"
                               name="system.wounds.value"
                               id="system.wounds.value"
                               class="flex0"
                               min="0"
                               max="{{document.system.wounds.max}}"
                               step="1"
                               value="{{document.system.wounds.value}}" />
                        /
                        <input type="number"
                               name="system.wounds.max"
                               id="system.wounds.max"
                               class="flex0"
                               min="0"
                               step="1"
                               value="{{document.system.wounds.max}}" />
                    </div>
                </div>
            </div>
            <div class="flex2 flexcol gap-small">
                <div class="flexrow">
                    <div class="flex1 left-label rollable" data-action="rollAwareness">
                        {{localize 'ATDW.Creature.Sheet.awareness' }}<i class="fas fa-dice"></i>
                    </div>
                    <input type="number"
                           name="system.awareness"
                           id="system.awareness"
                           class="flex0"
                           step="1"
                           data-dtype="Number"
                           value="{{document.system.awareness}}" />
                </div>
                <div class="flexrow gap-min">
                    <div class="flex1 left-label rollable" data-action="rollAttackSkill">
                        {{localize 'ATDW.Creature.Sheet.attackSkill' }}
                        <i class="fas fa-dice"></i>
                    </div>
                    <input type="number"
                           name="system.attackSkill.value"
                           id="system.attackSkill.value"
                           data-tooltip="ATDW.DeepDiver.Sheet.skills.valueTooltip"
                           class="flex0"
                           step="1"
                           data-dtype="Number"
                           value="{{document.system.attackSkill.value}}" />
                    <input type="number"
                           name="system.attackSkill.temporaryModifier"
                           id="system.attackSkill.temporaryModifier"
                           data-tooltip="ATDW.DeepDiver.Sheet.skills.temporaryModifierTooltip"
                           class="flex0"
                           step="1"
                           data-dtype="Number"
                           value="{{document.system.attackSkill.temporaryModifier}}" />
                </div>
                <div class="flexrow">
                    <div class="flex1 left-label rollable" data-action="rollDamage">
                        {{localize 'ATDW.Creature.Sheet.damage' }}
                        <i class="fas fa-dice"></i>
                    </div>
                    <input name="system.damage"
                           type="text"
                           value="{{document.system.damage}}"
                           class="flex3"
                           autocomplete="off"
                           id="system.damage" />
                </div>
                <div class="flexrow">
                    <div class="flex1">
                        <label class="left-label" for="system.range">{{localize 'ATDW.Creature.Sheet.range' }}</label>
                    </div>
                    <input type="number"
                           name="system.range"
                           id="system.range"
                           class="flex0"
                           step="1"
                           data-dtype="Number"
                           value="{{document.system.range}}" />
                </div>
                <div class="flexrow">
                    <div class="flex1">
                        {{#if (eq document.system.hitLocation "none") }}
                            <label class="left-label" for="system.hitLocation">{{localize 'ATDW.Creature.Sheet.hitLocation.title' }}</label>
                        {{else}}
                            <div class="left-label rollable" data-action="rollHitLocation">
                                {{localize 'ATDW.Creature.Sheet.hitLocation.title' }}
                                <i class="fas fa-dice"></i>
                            </div>
                        {{/if}}
                    </div>
                    <select class="flex2" name="system.hitLocation" id="system.hitLocation">
                        {{#each hitLocationOptions as |option| }}
                            <option value="{{option.value}}"
                                    {{#if (eq @root.document.system.hitLocation option.value) }}
                                    selected
                                    {{/if }}>
                                {{option.label}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="section-title">{{localize 'ATDW.Creature.Sheet.abilities.title' }}</div>
            <div class="actions-list">
                <div class="flexrow actions-header gap-min">
                    <div class="action-header flexrow gap-min d6">
                        <i data-tooltip="ATDW.Creature.Sheet.rollAbilities"
                           data-action="rollAbilities"
                           class="fas fa-dice rollable flex0"></i>
                    </div>
                    <div class="action-header passive">{{localize 'ATDW.Creature.Sheet.abilities.passive' }}</div>
                    <div class="action-header name">{{localize 'ATDW.Creature.Sheet.abilities.name' }}</div>
                    <div class="action-header description">{{localize 'ATDW.Creature.Sheet.abilities.description' }}</div>
                    <div class="action-header actions">
                        <button type="button"
                                data-tooltip="ATDW.Creature.Sheet.abilitiesAdd"
                                class="btn add-action-button"
                                data-action="addAbility">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="flexcol gap-small">
                    {{#each abilities as |ability index| }}
                        <div class="flexrow gap-min align-normal">
                            <div class="d6">&nbsp;{{ability.index}}&nbsp;</div>
                            <div class="passive">
                                <input type="checkbox"
                                       name="system.abilities.{{index}}.isPassive"
                                       {{checked ability.isPassive}} />
                            </div>
                            <div class="name">
                                <input type="text"
                                       name="system.abilities.{{index}}.name"
                                       value="{{ability.name}}" />
                            </div>
                            <div class="flex2 description editor-host">
                                {{#if @root.editable }}
                                    <prose-mirror name="system.abilities.{{index}}.description" button="true" editable="{{@root.editable}}" toggled="false" value="{{ability.description}}">
                                    {{{ability.enrichedDescription}}}
                                    </prose-mirror>
                                {{else}}
                                    {{{ability.enrichedDescription}}}
                                {{/if}}
                            </div>
                            <div class="actions">
                                <button type="button"
                                        data-tooltip="ATDW.Creature.Sheet.abilitiesDelete"
                                        class="btn"
                                        data-action="deleteAbility"
                                        data-index="{{index}}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
